$var title: Home
$var page_header: <img height="200" src="/static/owl.png" />

<h2>Links</h2>
<ul>
  <li><a href="/usage">How much have I used?</a></li>
  <li><a href="/tradequota">Send quota to someone else</a></li>
  <li><a href="http://mirror.internode.on.net/pub/">Internode software mirror (unmetered)</a></li>
  <li><a href="http://www.abc.net.au/iview/">iView (unmetered)</a></li>
  <li><a href="http://www.internode.on.net/residential/entertainment/broadband_radio/#ChannelssponsoredbyInternodePubliclyavailable">Internode radio stations (unmetered)</a></li>
  <hr />
  <li><a href="/admin">Admin stuff</a></li>
</ul>
