h2 {
    text-align: right;
    font-family: Helvetica,Arial,Sans;
    margin: 0px;
}
h3 {
    font-size: 32px;
    font-family: Helvetica,Arial,Sans;
    text-align: center;
    width: 100%%;
    margin: 0px;
    margin-bottom: 5%%;
}
